@import "https://fonts.googleapis.com/css2?family=Kalam&display=swap";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
.container {
  min-height: 130vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin-top: 4rem;
}
.container h2 {
  width: 90%;
  text-align: center;
  font-size: 2.3rem;
  color: rgb(117, 117, 117);
  font-family: "Kalam", cursive;
}
.container .pinturas, .container .creacion, .container .restauracion {
  height: 320px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  animation: pulse 3.2s ease-in;
}
@keyframes pulse {
  0% {
    background-color: rgba(0, 0, 0, 0.1);
  }
  25% {
    background-color: rgba(0, 0, 0, 0.2);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.1);
  }
  75% {
    background-color: rgba(0, 0, 0, 0.3);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
.container .pinturas::before, .container .pinturas::after, .container .creacion::before, .container .creacion::after, .container .restauracion::before, .container .restauracion::after {
  position: absolute;
  top: 0;
  width: 300px;
  height: 100%;
  content: "";
  z-index: 2;
}
.container .pinturas::before, .container .creacion::before, .container .restauracion::before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}
.container .pinturas::after, .container .creacion::after, .container .restauracion::after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}
.container .pinturas:hover .imagenesSide, .container .creacion:hover .imagenesSide, .container .restauracion:hover .imagenesSide {
  animation-play-state: paused;
}
.container .pinturas .imagenesSide, .container .creacion .imagenesSide, .container .restauracion .imagenesSide {
  display: flex;
  animation: 140s slide infinite linear;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.container .pinturas .imagenesSide.loaded, .container .creacion .imagenesSide.loaded, .container .restauracion .imagenesSide.loaded {
  opacity: 1;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.container .pinturas .imagenesSide .contenedorImg, .container .creacion .imagenesSide .contenedorImg, .container .restauracion .imagenesSide .contenedorImg {
  display: flex;
  justify-content: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  max-width: 350px;
  overflow: hidden;
  height: 250px;
  margin: 0 40px;
  border-radius: 5px;
}
.container .pinturas .imagenesSide .contenedorImg .imagenes, .container .creacion .imagenesSide .contenedorImg .imagenes, .container .restauracion .imagenesSide .contenedorImg .imagenes {
  border-radius: 5px;
  width: auto;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}
.container .creacion .imagenesSide {
  animation: 140s slide2 infinite linear;
}
@keyframes slide2 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}/*# sourceMappingURL=imagenList3.module.css.map */