.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: zoom-in;
    transition: transform 0.3s ease;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
    background-color: gray;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
    border-radius: 0 6px 0 0;
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    -khtml-user-select: none; 
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px;
}

.mySwiper .swiper-wrapper .swiper-slide img{
    height: 97%;
}

.mySwiper .swiper-wrapper {
    justify-content: center;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
    border-radius: 5px;
}

.mySwiper .swiper-wrapper .swiper-slide img{
    cursor: pointer;
    object-fit: contain;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

/* Imágenes del carrusel */
.zoom-container {
    position: relative;
    overflow: hidden;
}

.zoom-container img {
    transition: transform 0.3s ease;
    height: 500px; 
    
}

.style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 95%;
}

@media screen and (max-width: 1650px) {
    .zoom-container img {
        height: 420px; 
    }
}
@media screen and (max-width: 1400px) {
    
    .mySwiper2 {
        height: 80%;
    }
    .mySwiper {
        height: 20%;
    }
    .zoom-container img {
        height: 365px; 
        
    }
}

@media screen and (max-width: 960px) {

    
    .swiper-slide{
        margin-right: 0;
        background-color: rgb(238, 238, 238);
        
    }

    .swiper-slide-active{
        border-radius: 6px 6px 0 0;
        border: transparent;
        outline: transparent;
    }

    .mySwiper .swiper-slide {
        background-color: gray;
    }
    .swiper-button-next, .swiper-button-prev {
        color: black;
    }

    .zoom-container img {
        min-height: 780px;
        max-height: 900px; 
        width: 470px;
        object-fit: contain;
    }


    .setZoomStyle{
        scale: (1);
    }

    .style{
        outline: none;
        height: auto;
    }
    .style img{
        width: 650px;
        object-fit: contain;
    }
    
}

@media screen and (max-width: 700px) {
    .zoom-container img {
        min-height: 730px;
        max-height: 880px; 
    }
}