@import "../../../scss/styles/utilities/mixin.scss";

.container{
    min-height: 90vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    display: grid;
    grid-template-columns:300px 1fr 1fr 400px;
    justify-content: center;
    align-items: center;

    .text{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        grid-column: 2 / 3;

        h2{
            @include titleFont;
            font-size: 8rem;
        }

        .containerLetters{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            gap: 3rem;
            grid-column: 3 / 4;
            position: relative;

            p{
                @include titleFont;
                font-size: 1.7rem;
                font-weight: 400;
                padding: 0 10px 0 10px;
            }
            
            .redireccion{
                color: rgb(105, 105, 105);
                font-size: 1.3rem;
                position: relative;
                overflow: hidden;
                cursor: pointer;
                height: 35px;
                padding: 0 8px 0 8px;
                border-radius: 30px;
                transition: color 0.6s ease;
                
                &:hover{
                    color: rgb(0, 0, 0)
                }

                &:hover::before {
                    width: 100%;
                }
                
                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    border-radius: 30px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 130px;
                    height: 100%;
                    background-color: initial;
                    transition: width 0.5s ease-in-out;
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
        }
    }

    .containerFoto{
        height:auto;
        width: 100%;
        display: flex;
        justify-content: flex-end;

        img{
            width: 500px;
        }
    }
}

@media screen and (max-width: 1550px) {
    .container{
        min-height: 85vh;
        grid-template-columns:250px 1fr 1fr 270px;


        .containerFoto{
            
            img{
                width: 440px;
            }
        }
    }
}

//Responsive -medium size-

@media screen and (max-width: 1400px) {
    .container{
        grid-template-columns:200px 1fr 1fr 210px;

        .text{
            gap: 2rem;

            h2{
                font-size: 6.5rem;
            }
        }

        .containerFoto{
            
            img{
                width: 380px;
            }
        }
    }
}

@media screen and (max-width: 960px) {

    .container{
        min-height: 75vh;
        grid-template-columns: 10px 1fr 1fr 10px;

        .text{
    
            h2{
                font-size: 5rem;
            }

            .containerLetters{
                gap: 4rem;
    
                p{
                    font-size: 1.4rem;
                    padding: 0 30px 0 30px;
                }

                .redireccion {
                    animation: colorChange 3s infinite;

                    &:hover{
                        color: rgb(0, 0, 0)
                    }
    
                    &:hover::before {
                        width: 100%;
                    }
                    
                    &::before {
                        animation: expandWidth 3s infinite;
                    }
                
                    @keyframes colorChange {
                        0% {
                            color: rgb(105, 105, 105);
                        }
                        50% {
                            color: rgb(0, 0, 0);
                        }
                        100% {
                            color: rgb(105, 105, 105);
                        }
                    }
                
                    @keyframes expandWidth {
                        0% {
                            width: 50%;
                        }
                        50% {
                            width: 55%;
                        }
                        100% {
                            width: 50%;
                        }
                    }
                }
            }
        }

        .containerFoto{
            justify-content: center;
    
            img{
                width: 350px;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .container{
        min-height: 75vh;
        grid-template-columns: 1px 1fr 260px 1px;

        .text{
            h2{
                font-size: 3rem;
            }

            .containerLetters{
                gap: 4rem;
                p{
                    font-size: 1.2rem;
                    padding: 0 5px 0 20px;
                    
                }

                .redireccion {
                    font-size: 1.1rem;
                    height: 30px;
                }
            }
        }
        .containerFoto{
            justify-content: center;
    
            img{
                width: 250px;
            }
        }
    }
}

@media screen and (max-width: 500px) {

    .container{
        min-height: 540px;
        display: flex;
        flex-direction: column;
        position: relative;

        .text{
            padding-top: 1rem;
            h2{
                font-size: 3rem;
            }

            .containerLetters{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: .5rem 0 2.5rem 0;
                p{
                    font-size: 1.2rem;
                    padding: 0 5px 0 20px;
                    
                }

                .redireccion {
                    font-size: 1.1rem;
                    height: 30px;
                }
            }
        }
        .containerFoto{
            justify-content: center;
            top: 210px;
            position: absolute;
            // background-color: lightcoral;
            img{
                width: 250px;
            }
        }
    }
}