@import "../../../../scss/styles/utilities/variables.scss";
@import "../../../../scss/styles/utilities/mixin.scss";

.text{
    background-color: rgba(0, 0, 0, 0.1);
    width: 40%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    border-radius: 6px 0 0 6px;
    overflow: auto;

    .titulo{
        font-family: $letraSub;
        font-size: 2.7rem;
        padding: 0 20px 0 20px;
    }

    .descripcion{
        @include textFont;
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 1.5;
        font-style: italic;
        padding: 0 20px 0 20px;
    }

    .subDescripcion{
        font-size: 1.1rem;
    }
}

//Responsive -medium size-

@media screen and (max-width: 1400px) {
    .text{
        height: 80vh;
        gap: .6rem;
        justify-content: center;

        &::-webkit-scrollbar {
            width: 8px; 
        }

        &::-webkit-scrollbar-thumb {
            background: #5e5e5e; 
            border-radius: 10px;
            
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1; 
        }
        

            .titulo{
                margin-top: 1rem;
                font-size: 2.1rem;
            }
            .descripcion{
                font-weight: 400;
                font-size: 1.2rem;
            }
            .subDescripcion{
                font-size: 1.1rem;
                margin-bottom: 1rem;
            }
        
    }
}

@media screen and (max-width: 960px) {
    .text{
        width: 90%;
        height: auto;
        border-radius: 6px;
        padding: 0 2rem 2rem 2rem;
        order: 2;

        &::-webkit-scrollbar {
            width: 6px; 
        }

        .titulo{
            text-align: center;
            font-size: 1.8rem ;
        }

        
    }
}

@media screen and (max-width: 500px) {
    .text{
        .titulo{
            text-align: center;
            font-size: 1.6rem;
        }

        .descripcion{
            font-size: 1.1rem;
        }
    }
}