.contenedor{
    min-height: 100vh;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}


//Responsive -medium size-

@media screen and (max-width: 1400px) {
    
    .contenedor{
        width: 90%;
    }
}

@media screen and (max-width: 410px) {
    
    .contenedor{
        width: 97%;
    }
}