@import "../../../scss/styles/utilities/mixin.scss";
@import "../../../scss/styles/utilities/variables.scss";

.container {
    width: 100%;
    display: grid;
    justify-content: center;
    margin: 1.5rem 0;
    border-radius: 6px;
    grid-template-columns: 1fr 550px;
    background-color: #465358;
    min-height: 667px;
    opacity: 0;
    animation: aparecer .1s forwards; 

    @keyframes aparecer {
        to {
            opacity: 1; 
        }
    }

    .text {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;

        h2 {
            font-family: $letraSub;
            font-size: 5.5rem;
            font-weight: 500;
            text-align: center;
            color: #dcf3ff;
        }

        .pContainer{
            min-height: 40%;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;

            p{
                @include textFont;
                font-size: 1.4rem;
                font-style: italic;
                padding: 0 10px 0 15px;
                line-height: 1.6;
                color: #c6dce7;
            }
        }
    }

    .fotoContainer {
        position: relative;
        width: 500px;
        display: inline-block;

        &:hover .foto{
            opacity: 0.9;
            transition-delay: 0s;
        }

        &:hover .tooltiptext{
            visibility: visible;
            opacity: 1;
            transition-delay: 0s;
        }
        
        .foto {
            width: 100%;
            display: block;
            position: relative;
            z-index: 1;
            opacity: 1;
            transition: opacity 0.4s ease, visibility 0s linear 0.6s;
        }

        &::before {
            content: "";
            position: absolute;
            top: 15px;
            left: 15px;
            width: 500px;
            height: 670px;
            border: solid 6px rgb(151, 151, 151);
            z-index: 2; 
        }

        .tooltiptext{
            @include titleFont;
            visibility: hidden;
            width: 160px;
            background-color: rgba(151, 151, 151, 0.8);
            color: #fff;
            text-align: center;
            border-radius: 8px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            bottom: 50%; 
            left: 63%;
            margin-left: -60px; 
            opacity: 0;
            transition: opacity 0.4s ease-out, visibility 0s linear 0.6s;
            font-size: 1.4rem;
            font-weight: 240;
            padding: 5px;
            font-style: italic;
        }
    }
}


//Responsive -medium size-

@media screen and (max-width: 1366px) {
    .container {
        margin-top: 2.5rem;
        grid-template-columns: 1fr 390px;
        min-height: 267px;

        .text {
            justify-content: flex-start;
            gap: 1rem;
            h2 {
                min-height: 100px;
                font-size: 4.5rem;
                padding-top: 20px;
            }
            .pContainer{
                width: 100%;
                height: auto;
                p{
                    font-size: 1.25rem;
                    line-height: 1.6;
                    padding-left: 25px;
                }
            }
        }
        .fotoContainer {
            width: 350px;

            &::before {
                width: 350px;
                height: 460px;
            }

            .tooltiptext{
                font-size: 1.3rem;
            }
        }
    }
}


//Responsive -tablet devices-

@media screen and (min-width: 700px) and (max-width: 960px) {

    .container {
        
        grid-template-columns: 1fr 350px;
        .text {
            justify-content: center;
            align-items: center;
            height: 448px;
            flex-wrap: wrap;
            gap: 0;
            flex-direction: row;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 5px; 
            }
    
            &::-webkit-scrollbar-thumb {
                background: #222222; 
                border-radius: 10px;
                
            }
    
            &::-webkit-scrollbar-track {
                background: #465358; 
            }
            h2 {
                font-size: 2.5rem;
            }
            .pContainer{
                padding-bottom: 1rem;
                p{
                    font-size: 1.1rem;
                    padding: 0 20px 0 20px;
                }
            }
        }
        .fotoContainer {
            &:hover .foto{
                opacity: 1;
            }
    
            &:hover .tooltiptext{
                visibility: hidden;
                opacity: 0;
            }

            &::before {
                content: none;
                
            }
            .foto {
                border-radius:  0 5px 5px 0;
            }
        }
    }
}