.container{
    width: 100%;
    min-height: 90vh;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerCarrousel{
    width: 40vw;
    height: 70vh;
    position: relative;
    background: #eee;
    border-radius: 0 6px 6px 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.condicion1 {
    min-height: 90vh;
    display: flex;
    align-items: center;
}

.condicion2{
    min-height: 90vh;
    display: flex;
    align-items: center;
}

