@import "../../scss/styles/utilities/variables.scss";

header{
    width: 100%;
        height: 100px;
        top: 0;
        left: 0;
        display: grid;
        grid-template-columns: 1fr 5fr;
        z-index: 114;
        animation: nav-scroll linear both ;
        animation-timeline: scroll(root);
        animation-range: 0 400px;

        @keyframes nav-scroll{
            to{
                height: 60px;
            }
        }

        .logoContainer{
            width: 100%;
            height: 100px;
            background-color: rgba(34, 34, 34, .6);
            z-index: 3123123123123;
            display: flex;
            padding-left: 2rem;
            align-items: center;
            animation: size-font linear both ;
            animation-timeline: scroll(root);
            animation-range: 0 400px;

            @keyframes size-font{
                to{
                    background-color: rgb(50, 60, 65);
                    height: 60px;
                    font-size: 2.5rem;
                }
            }

            h1 {
                width: auto;
                height: 100px;
                font-family: $letraSub;
                color: rgb(253, 164, 243);
                font-size: 4rem;
                display: flex;
                margin: 0;
                transition: color .5s;
                animation: size-font2 linear both ;
                animation-timeline: scroll(root);
                animation-range: 0 400px;
                
                @keyframes size-font2{
                    to{
                        height: 60px;
                        font-size: 2.5rem;
                    }
                }
    
                .firstLetter {
                    color: rgb(255, 255, 255);
                    transition: color .5s;
                }
            
                &:hover {
                    color: rgb(255, 255, 255);
                }
            
                &:hover .firstLetter {
                    color: rgb(253, 164, 243);
                }
            }
        }
    }

    .fixed {
        position: -webkit-sticky;
        position: fixed;
    }
    
    .sticky {
        position: sticky;
        background-color: rgb(83, 83, 83 );
    }


    //Responsive -medium size-

@media screen and (max-width: 1400px) {
    header{
        .logoContainer{
            padding-left: .7rem;
            h1 {
                font-size: 3.5rem;
                padding: 10px 0 10px 10px;
                text-align: center;

                @keyframes size-font2{
                    to{
                        height: 60px;
                        font-size: 2.5rem;
                        padding: 0 0 0 10px;
                    }
                }
            }
        }
    }
}

//Responsive -tablet devices-

@media screen and (max-width: 960px) {
    header{
        .logoContainer{
            h1 {
                font-size: 3rem;
                padding: 15px 0 15px 0;
            }
        }
    }
}