@import "../../../scss/styles/utilities/mixin.scss";

.container{
    min-height: 80vh;
    width: 90%;
    display: grid;
    gap: 4rem;
    margin: 6rem 0 6rem 0;
    opacity: 0;
    animation: aparecer .2s forwards; 

    @keyframes aparecer {
        to {
            opacity: 1; 
        }
    }

    .card{
        width: 100%;
        display: grid;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.1);

        .foto{
            width: 400px;
        }
        button{
            display: none;
        }
        h4{
            @include textFont;
            width: 100%;
            font-size: 1.1rem;
            font-style: italic;
            padding: 15px 100px 15px 100px;
            line-height: 2;
            font-weight: 400;
            text-align: justify;
            
        }
    }

}

@media screen and (max-width: 700px) {
    .container{
        
        .card{
            display: flex;
            position: relative;
            border-radius: 15px;
            transform-origin: left;
            transform: scaleX(0.94);
            animation: Size linear forwards;
            animation-timeline: view();

            @keyframes Size{
                // 0% {
                //     transform: scaleX(0.94);
                // }
        
                20% {
                    transform: scaleX(1); 
                }

                100% {
                    transform: scaleX(1); 
                }
            }
            .foto{
                width: 80%;
                height: auto;
                border-radius: 15px 0 0 15px ;
            }
            button{
                display: inline-block;
                position: absolute;
                top: 45%;
                right: 20%;
                background-color: rgb(228, 228, 228, 1);
                border-radius: 30px 0 0 30px;
                transition: right 0.3s ease-in-out, background-color .3s ease-in;
                

                .info{
                    padding: 15px;
                    width: 50px;

                    animation: grow 2s linear infinite;

                    @keyframes grow{
            
                        0% {
                            scale: 1;
                        }
                
                        50% {
                            scale: 1.1; 
                        }
                        100% {
                            scale: 1; 
                        }
                    }
                }
            }
            h4{
                background-color: rgb(228, 228, 228, .9);
                position: absolute;
                width: 20%;
                height: 100%;
                color: transparent;
                transition: width 0.3s ease-in-out, color 0s ease;
                border-radius: 0 15px 15px 0;
                top: 0;
                right: 0;
                font-size: 1rem;
                align-content: center;
                padding: 35px;
                overflow: hidden;
            }

            .visible {
                width: 80%;
                color: black;
                transition: width 0.3s ease-in-out, color 2.2s ease-in;
            }
            
        }
        .active{ 
            border-radius: 15px ;
        }
        .active button {
            right: 80%;
            background-color: rgb(228, 228, 228, .9);

            
        }
        .active h4{ 
            border-radius: 0 15px 15px 0;
            animation: appear linear forwards;
            animation-timeline: view();

            @keyframes appear{
            
                0% {
                    opacity: 0;
                }
        
                20% {
                    opacity: 1; 
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {

    .container{
        width: 95%;
        

        .card{
            .foto{
                width: 85%;
            }

            button{
                right: 15%;
            }

            h4{
                width: 15%;
                height: 100%;
                padding: 0 25px 0 25px;
                
                padding-top: 10%;
                padding-bottom: 10%;
                text-align: start;
            }

            .visible {
                width: 80%;
            }
            
        }
        .active button {
            right: 80%;
        }
        
    }
}

@media screen and (max-width: 410px) {
    .container{
        width: 87%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        .card{
            
            h4{
                font-size: .85rem;
            }
        }
    }
}