@import "../../scss/styles/utilities/mixin.scss";

.container{
    height: 300px;
    width: 100%;
    background-color: #667981;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    
    .contenido{
        display: flex;
        height: 260px;
        justify-content: center;
        align-items: center;
        padding-top: 10px;

        .foto{
            position: relative;
            height: 250px;
            width: 211px;
            margin-right: 1rem;
            
            a{
                height: 250px;
                width: auto;
                
                img{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: opacity .5s ease-in-out;
                    
                    &.defaultImg {
                        opacity: 1;
                    }

                    &.hoverImg {
                        opacity: 0;
                    }
                }
            }

            &:hover {
                .defaultImg {
                    opacity: 0;
                }
        
                .hoverImg {
                    opacity: 1;
                }
            }
        }
        
        .redes{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: .5rem;
            gap: 1rem;

            h4{
                @include titleFont;
                color: white;
                font-size: 1.8rem;
                padding-right: .5rem;
                font-weight: 400;
            }
    
            a{
                height: 35px;
                width: auto;
                padding-top: 0;
    
                img{
                    height: 35px;
                    width: auto;
                }
            }
        }
    }


    .copyright{
        background-color: #465358;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        p{
            @include titleFont;
            font-weight: 300;
            color: white;
            padding-right: .5rem;
            font-size: 1.2rem;
        }
    }
}

//Responsive -medium size-

@media screen and (max-width: 1400px) {
    .container{
        height: 280px;
        .contenido{
            height: 235px;

            .foto{
                height: 225px;
                width: 191px;

                a{
                    height: 225px;
                    width: auto;
                }
            }
        }
    }
}


//Responsive -tablet devices-

@media screen and (max-width: 960px) {

    .container{
        height: 210px;

        .contenido{
            align-items:end;
            height: 165px;

            .foto{
                padding-left: 10px;
                height: 150px;
                width: 131px;
                a{
                    height: 150px;
                    // img{
                    // }
                }
            }
            .redes{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: .1rem;
                gap: 1rem;
    
                h4{
                    font-size: 1.4rem;
                    padding-right: 0;
                }
                a{     
                    height: 30px;   
                    img{
                        height: 30px;
                    }
                }
            }
        }
        .copyright{
            p{
                font-size: 1rem;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .container{
        height: 210px;

        .contenido{
            padding-top: 5px;
            height: 100%;

            .foto{
                position: relative;
                height: 150px;
                width: 160px;
                margin-left: .5rem;
                margin-right: .2rem;
                
                a{
                    height: 150px;
                    width: auto;
                    
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .redes{
                width: 100%;
                height: 100%;
                flex-wrap: wrap;
                gap: 0;
                padding: 1.5rem 0 1.5rem 0;
    
                h4{
                    text-align: center;
                    font-size: 1.4rem;
                    padding-right: 0;
                    width: 100%;
                }
                a{     
                    height: 30px;
                    margin: .7rem .7rem 0 .7rem;
                    img{
                        height: 30px;
                    }
                }
            }
        }
        .copyright{
            p{
                font-size: .9rem;
            }
        }
    }

}

@media screen and (max-width: 500px) {
    .container{
        .contenido{
            
            .foto{
                height: 150px;
                width: 160px;
                margin-left: .5rem;
                margin-right: 0;
                
                a{
                    height: 100%;
                    width: 100%;

                    img{
                        bottom: 0;
                        top: auto;
                        width: 125px;
                        height: 150px;
                    }
                }
            }
            .redes{
                width: 80%;
    
                h4{
                    width: 95%;
                    font-size: 1.2rem;
                    padding-top: 0 ;
                    
                }
                a{  
                    padding-top: .5rem;   
                    height: 28px;
                    img{
                        height: 28px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 410px) {
    .container{
        height: 195px;
        display: flex;
        flex-direction: column;
        .contenido{
            .redes{
                align-items: flex-start;
                height: 100%;
                padding: .8rem 0 1rem 0;
                h4{
                    margin-bottom: 0;
                }
                a{  
                    padding-top: .1rem;
                }
            }
        }
        .copyright{
            height: 50px;
        }
    }
}