.container{
    height: 100px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    h4{
        color: white;
    }
    img{
        height: 100%;
        width: auto;
        border-radius: 70%;
    }
}