@import "https://fonts.googleapis.com/css2?family=Kalam&display=swap";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
.contenedor {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 20px;
  margin-bottom: 15px;
}
.contenedor .filterButtons {
  position: sticky;
  min-height: 100vh;
  background-color: #465358;
  border-radius: 0 0 20px 0;
}
.contenedor .filterButtons .navList {
  gap: 4rem;
  display: grid;
  padding-block: 2rem;
  font-size: 1.3rem;
}
.contenedor .filterButtons .navList li {
  padding: 1rem 2rem;
  margin-left: 1.2rem;
  border-radius: 100vw 0 0 100vw;
}
.contenedor .filterButtons .navList li.active {
  view-transition-name: activeNavTab;
  background-color: white;
  position: relative;
}
.contenedor .filterButtons .navList li.active p {
  color: black;
}
.contenedor .filterButtons .navList li.active::before, .contenedor .filterButtons .navList li.active::after {
  --border-radius: 1rem;
  content: "";
  position: absolute;
  width: var(--border-radius);
  height: var(--border-radius);
  right: 0;
}
.contenedor .filterButtons .navList li.active::before {
  top: calc(var(--border-radius) * -1);
  box-shadow: 10px 10px 0 10px white;
  border-radius: 0 0 100vw 0;
}
.contenedor .filterButtons .navList li.active::after {
  bottom: calc(var(--border-radius) * -1);
  box-shadow: 10px -10px 0 10px white;
  border-radius: 0 100vw 0 0;
}
.contenedor .filterButtons .navList li p {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.contenedor .filterButtons .flecha {
  cursor: pointer;
  position: absolute;
  width: 30px;
  bottom: 15px;
  left: 110px;
  animation: moveUpDown 2s ease-in-out infinite;
}
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}
.contenedor .contenedorImgs {
  width: 100%;
  height: 100%;
  -moz-columns: 4;
       columns: 4;
  padding: 15px 30px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  border-radius: 10px;
}
.contenedor .contenedorImgs .itemContainer {
  margin-bottom: 32px;
  position: relative;
}
.contenedor .contenedorImgs .itemContainer .imagenes {
  display: block;
  border-radius: 10px;
  width: 100%;
  z-index: 1;
  animation: aparecer linear both;
  animation-timeline: view();
}
@keyframes aparecer {
  0% {
    opacity: 0;
    scale: 0.9;
  }
  20% {
    opacity: 1;
    scale: 1;
  }
}
.contenedor .contenedorImgs .itemContainer h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: white;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  font-family: "Kalam", cursive;
  border-radius: 5px;
  transition: opacity 0.3s;
  text-align: center;
}
.contenedor .contenedorImgs .itemContainer:hover .imagenes {
  opacity: 0;
}
.contenedor .contenedorImgs .itemContainer:hover h3 {
  opacity: 1;
}
.contenedor .loaderWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1400px) {
  .contenedor {
    grid-template-columns: 220px 1fr;
  }
  .contenedor .filterButtons .navList li {
    padding: 0.8rem 2rem;
  }
  .contenedor .filterButtons .flecha {
    left: 95px;
  }
  .contenedor .contenedorImgs {
    -moz-columns: 3;
         columns: 3;
  }
}
@media screen and (max-width: 960px) {
  .contenedor {
    grid-template-columns: 170px 1fr;
  }
  .contenedor .filterButtons .navList {
    font-size: 1.2rem;
    gap: 3rem;
  }
  .contenedor .filterButtons .navList li {
    padding: 0.5rem 1rem;
    margin-left: 0.9rem;
  }
  .contenedor .filterButtons .flecha {
    left: 70px;
  }
  .contenedor .contenedorImgs .itemContainer:hover h3 {
    opacity: 0;
  }
}
@media screen and (max-width: 700px) {
  .contenedor .contenedorImgs {
    -moz-columns: 2;
         columns: 2;
  }
}
@media screen and (max-width: 500px) {
  .contenedor {
    grid-template-columns: 100px 1fr;
    gap: 20px;
  }
  .contenedor .filterButtons .navList {
    font-size: 0.7rem;
    gap: 2.5rem;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .contenedor .filterButtons .navList li {
    padding: 0.4rem;
    margin-left: 0.4rem;
    padding-left: 0.6rem;
  }
  .contenedor .filterButtons .flecha {
    left: 38px;
    width: 25px;
  }
  .contenedor .contenedorImgs {
    width: 100%;
    padding: 15px 5px 15px 5px;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}/*# sourceMappingURL=galeria.module.css.map */